<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello <% user.username %>! </h1>
  <ul>
    <li>
      First name: <% firstName %>
    </li>
    <li>Email: <% user.email %> </li>

    <% if (user.username) { %>
      <li>Username: <%= user.username %></li>
    <% } %>

     <% if (user.createdAt) { %>
      <li>Member Since: <%= user.createdAt.toDateString() %></li>
    <% } %>

    <% if (user.profileImage) { %>
      <li>
        Profile Picture:<br>
        <img src="<%= user.profileImage %>" alt="Profile Picture" width="100">
      </li>
    <% } %>
  </ul>

  <a href="/logout">Logout</a>
  </ul>
</body>
</html>