<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style11.css">

</head>
<body>
  <h1>Welcome to BuzzNest</h1>
    <h2>Your Ultimate Gaming Hub Where Players Connect, Compete, and Celebrate Everything Gaming!</h2>
  <div class="button-group">
    <a href="/auth/sign-in">Sign-In</a>
    <a href="/auth/sign-up">Sign-Up</a>
  </div>
</body>
</html>
