@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #B993D6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #807b9b;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.new-post {
  padding-top: 30px;
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 70px;
  padding-bottom: 5%;
  justify-content: center;
  align-items: center;
}

.post-card {
  background-color: #f8f6ff;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: #807b9b;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.post-header img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 3px solid #fff;
}

.post-header h4 {
  color: #807b9b;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-card h2 {
  font-size: 26px;
  color: #807b9b;
  font-family: 'Playfair Display', serif;
  margin: 10px 0;
}

.post-card p {
  font-size: 20px;
  color: #807b9b;
  line-height: 1.5;
}

.post-card a {
  display: flex;
  margin-top: 10px;
  color: #807b9b;
  font-weight: bold;
  justify-content: flex-end;
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

button {
  width: 150px;
  height: 40px;
  background-color: #807b9b;
  color: white;
  font-size: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6f6889;
}

.link-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.link-container p {
  font-size: 16px;
  color: #807b9b;
  text-align: center;
}
