@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form {
    border: 5px solid white;
    padding: 60px;
    border-radius: 10%;
    background-color: white;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    color: #807b9b;
    font-size: 20px;
    width: 100px;
    margin-right: 10px;
}

input[type="text"],
input[type="password"] {
    width: 250px;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e6e5ec;
    color: #807b9b;
    font-family: 'Playfair Display', serif;
}

h3 {
    color: #807b9b;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
    width: 150px;
    height: 40px;
    background-color: #807b9b;
    color: white;
    font-size: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6e6a8b;
}

.link-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.link-container p {
    font-size: 16px;
    color: #807b9b;
    text-align: center;
}
