<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Add a New Post</title>
  <link rel="stylesheet" href="/stylesheets/style5.css" />
</head>
<body>
  <%- include('../navbar/_navbar.ejs') %>
<div class="new-form">
  <div class="form">
    <h3>Add a New Post</h3>
    <form action="/posts" method="POST">
      <div class="form-group">
        <label for="postTitle">Post Title</label>
        <input type="text" name="postTitle" id="postTitle" required />
      </div>

      <div class="form-group">
        <label for="postText">Description</label>
        <textarea name="postText" id="postText" placeholder="Game Description" required></textarea>
      </div>

      <div class="form-group">
        <label for="postImage">Image</label>
        <input type="file" id="postImage" name="postImage" required />
      </div>

      <div class="button-container">
        <button type="submit">Add Post</button>
      </div>
    </form>
  </div>
  </div>
</body>
</html>
